<% content_for :page_title, t(".title") %>

<div class="space-y-6">
  <div class="rounded-xl border border-primary bg-container p-6">
    <p class="text-secondary text-sm"><%= t(".description") %></p>
  </div>
</div>
